.update-item {
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 10px;
  position: relative;
}

.update-item .update-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.update-item:hover .update-actions {
  display: block;
}
