.user-item {
  position: relative;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.user-item .names-cont {
  margin-bottom: 5px;
}
.names-cont .action-link {
  padding-right: 0.5em;
}

.user-item .user-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.user-item:hover .user-actions {
  display: block;
}

.user-item-info > span {
  padding: 0 0.5em;
}

.user-item-info > span:first-child {
  padding-left: 0;
}
