.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.user-item {
  position: relative;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.user-item .names-cont {
  margin-bottom: 5px;
}

.user-item .user-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.user-item:hover .user-actions {
  display: block;
}
